div.my_login{
    position: relative;
}
form.login{
    position:absolute;
    bottom:25%;right:400px;
}
form.login>div{
    color:#f70738;
    position:absolute;
    left:20px;
    display:none;
}
form.login>div.hide1{
    top:117px;
}
form.login>div.hide2{
    top:184px;
}
/*table表格样式*/
table>caption{
    caption-side:top;
    border-bottom:1px solid #00c65d;
}
table>caption>span{
    font-size:24px;
}
table>caption>a{
    margin-left:110px;
}
table tr:first-child,table tr:nth-child(2){
    height:70px;
}
 td>input.uname,td>input.upwd{
     padding:10px;
     width:300px;
     height:40px;
     font-size:14px;
     line-height:40px;
     bottom: 50px;
}
 td>input.rem_pwd+a{
     margin-left:150px;
  }
 tr:last-child>td>input{
     width:300px;
     height:40px;
 }
