section>div{
    width:1280px;
    margin:0 auto;
}
/*产品浮动*/
div.product{
    display:flex;
}
/*产品详情顶部面包屑导航*/
div.product_nav>ul.bread_crumb{
   display: flex;
    margin:10px 0;
}
 div.detail_top>div.product_nav>ul.bread_crumb>li.item+li:before{
     content:">>>"
 }
/*定义产品图样式*/
div.product_picture{
    width:400px;
    position:relative;
}
/*大图样式*/
div.big_picture{
    width:400px;
    height:400px;
}
div.big_picture>img{
    width:100%;
    position:absolute;
    top:0;left:0;
    opacity:0;
}
div.big_picture>img.show{
    opacity:1;
}
/*div.mask装饰，当鼠标到达页面时。显示*/
div.mask{
    background:rgba(200,200,200,0.45);
    width:100px;height:100px;
    position:absolute;
    top:0;left:0;
    display:none;
    z-index: 1;
}
/*div.super_mask装饰，防止div.mask抖动*/
div.super_mask{
    position:absolute;
    top:0;left:0;
    background:rgba(255,255,255,0);
    width:400px;height:400px;
    border:1px solid #aaa;
    z-index:10;
}
div.super_mask:hover~div.mask{
    display:block;
}
div.super_mask:hover+div.bigger_picture{
    display:block;
}
/*div.bigger_picture,图片放大显示*/
div.bigger_picture{
    position:absolute;
    width:200px;height:200px;
    border:1px solid #aaa;
    top:0;left:410px;
    background:#fff;
    z-index:20;
    display:none;
    overflow: hidden;
}
div.bigger_picture>img{
     position:absolute;
    top:0;left:0;
}
/*产品小图样式*/
div.small_picture>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin:6px 0;
}
div.small_picture>ul>li{
    border:1px solid #eee;
}
div.small_picture>ul>li:hover{
    border:1px solid #00c65d;
}
/*产品信息*/
div.product_msg{
  margin-left:60px;
    width:560px;
}
div.product_msg p{
    margin:10px 0;
}
/*item2的样式*/
div.product_msg>div.pm_item2{
    background:#eee;
    padding:10px;
    border:1px solid #ddd;
}
div.product_msg>div.pm_item2>p>span:first-child{
    display:inline-block;
    width:60px;
    padding:0 5px;
    text-align:center;
    background:#f70738;
    color:#fff;
    margin-right:20px;
}
/*item中第1个p标签样式*/
div.product_msg>div.pm_item2>p:first-child>span:nth-child(2){
    color:#f70738;
    font-size:24px;
}
div.product_msg>div.pm_item2>p:first-child>span:nth-child(3){
    text-decoration: line-through;
}
/*item2中第2个p标签样式*/
div.product_msg>div.pm_item2>p:nth-child(2)>a.preferential{
    margin-right:6px;
    color:#fff;
    background:#f70738;
    display:inline-block;
    width:100px;
    text-align: center;
}
div.product_msg>div.pm_item2>p:nth-child(2)>a.preferential:hover{
    background: #fff;
    color:#000;
    border:1px solid #f70738;
}
/*item3样式*/
div.product_msg>p.pm_item3>span{
    display:inline-block;
    width:160px;
    height:40px;
    text-align: center;
    line-height: 40px;
    background: #eee;
}
div.product_msg>p.pm_item3>a{
    display:inline-block;
    width:80px;
    background:#f70738;
    color:#fff;
    text-align: center;
}
/*item4样式*/
  div.product_msg>div.pm_item4{
      position:relative;
  }
div.pm_item4 ul{
    list-style: none;
    display:flex;
    flex-flow: wrap;
}
div.pm_item4>ul>li:nth-child(2)>ul{
    display: inline-block;
    height:32px;
    position:absolute;
    top:0;left:58px;
    z-index: 10;
}
div.pm_item4>ul>li:nth-child(2)>ul>li{
    float:left;
}
div.pm_item4>ul>li:nth-child(2)>ul>li:first-child{
    border:1px solid #aaa;
    line-height:32px;
    padding:0 10px;
    margin-right: 20px;
}
div.pm_item4>ul>li:nth-child(2):hover>ul>li:first-child{
    border-bottom:1px solid #fff;
}
div.pm_item4>ul>li:nth-child(2)>div.address{
    display:none;
    width:450px;
    border:1px solid #aaa;
    position:absolute;
    top:33px;left:58px;
    background:rgba(255,255,255,1);
    z-index: 1;
}
div.pm_item4>ul>li:nth-child(2):hover>div.address{
    display:block;
}
   /*div.address>div.nav的样式*/
div.address>div.nav{
    width:420px;
    border-bottom: 2px solid #f70738;
    margin:10px 0 10px 10px;
    position:relative;
}
div.address>div.nav>ul:first-child>li{
     border:1px solid #aaa;
    height:30px;width:90px;
    line-height: 30px;
    border-bottom-width:0;
    text-align: center;
    font-size: 13px;
    display: none;
}
div.address>div.nav>ul:first-child>li.active{
    display:inline-block;
}
div.address>div.nav>ul:first-child>li+li {
    margin-left: 10px;
}
div.address>div.nav>div.box{
    position:absolute;
    top:0;left:0;
    width:90px;height:32px;
    border:2px solid #f70738;
    border-bottom: 2px solid #fff;
    background: rgba(256,256,256,0);
    transition:all 0.5s linear;
}
    /*div.address>div.cities*/
div.address>div.cities{
    width:420px;
    margin:10px 0 10px 10px;
}
div.address>div.cities>ul{
    display: none;
}
div.address>div.cities>ul.active{
    display: block;
}
div.address>div.cities>ul>li{
    text-align: left;
    width:24%;
    float:left;
}
div.address>div.cities>ul>li:hover{
    color:#f70738;
}
/*item5样式*/
p.pm_item5>span{
    margin-right: 22px;
}
/*item6样式*/
div.product_msg>p.pm_item6>b{
    font-weight: normal;
    margin-right: 22px;
}
div.product_msg>p.pm_item6>span{
    display:inline-block;
    width:60px;height:30px;
    text-align: center;
    line-height: 30px;
    background: #eee;
    font-size:20px;
    user-select: none;
}
/*item7样式*/
div.product_msg>p.pm_item7>a{
   display:inline-block;
    width:160px;height:40px;
    text-align: center;
    line-height: 40px;
    background:#f70738;
    color:#fff;
    margin:25px 0 0 60px;
}
/*div.buyer_products 买家推荐*/
div.buyer_products{
    margin-left: 100px;
}
div.buyer_products>h5{
    margin-left:20px;
}
div.product_right{
    position:relative;
    width:160px;height:640px;
    overflow: hidden;
    border:1px solid #eee;
}
div.product_right>div:first-child{
    height:1280px;
    width:160px;
}
div.product_right>div:first-child>a{
    display:block;
    width:160px;
    height:160px;
    position:relative;
}
div.product_right>div:first-child img{
    width:90%;
    margin:8px;
}
div.product_right>div:first-child>a>div{
    position:absolute;
    top:100px;left:0;
    z-index: 10;
    text-align: center;
    background: rgba(255,255,255,0.4);
    display:none;
}
div.product_right>div:first-child>a:hover>div{
    display:block;
}
div.product_right>div:first-child>a>div>p{
    margin-bottom: 0;
    width:160px;
    line-height:28px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
div.product_right>div:first-child>a>div>p:first-child{
    width:100px;
    margin:0 auto;
}
/*产品详情主体信息*/
div.detail_main{
    margin-top:50px;
    border-top:2px solid;
    position:relative;
}
/*主题信息中间位置*/
div.detail_main>div.dm_middle{
    margin:0 auto;
    width:730px;
}
div.detail_main>div.dm_middle>ul{
    display: flex;
    height:50px;
    background: #eee;
}

div.detail_main>div.dm_middle>ul>li{
    line-height: 50px;
    font-size:22px;
    width:120px;
    text-align: center;
}
div.detail_main>div.dm_middle>ul>li.active{
    border-bottom: 2px solid #00c65d;
}
/*产品详情主体中顶部样式*/
div.dm_middle>div.dm_middle_top>ul{
    display:flex;
    flex-flow: wrap;
    border-bottom: 1px solid #eeeeee;
}
div.dm_middle>div.dm_middle_top>ul>li{
    width:40%;
    margin-left:10%;
    margin-top: 6px;
    margin-bottom: 6px;
}
/*售后服务样式*/
div.detail_main>div.dm_middle>div.product_evaluate>span,div.detail_main>div.dm_middle>div.product_serve>span{
    display:block;
    height:40px;
    background:#eee;
    line-height:40px;
    padding-left:20px;
}
div.product_serve>div>p{
        margin:8px 10px;
    }
div.product_serve>div>p:first-child{
    font-weight: bold;
}
/*商品评价呀样式*/
div.product_evaluate>div:nth-child(2){
    display:flex;
    margin: 10px 0;
}
div.product_evaluate>div:nth-child(2)>div.score{
    width:120px;
    height:120px;
    border:20px solid #00c65d;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
}
div.product_evaluate>div:nth-child(2)>div:last-child>ul{
      margin-left: 50px;
      display:flex;
      flex-flow: wrap;
}
div.product_evaluate>div:nth-child(2)>div:last-child>ul>li{
      width:120px;
      height:30px;
      text-align: center;
      line-height: 30px;
      border:1px solid #ddd;
      margin:10px;
}
div.product_evaluate>ul:nth-child(3){
    display: flex;
    height: 40px;
    background: #eee;
    justify-content: space-around;
}
div.product_evaluate>ul:nth-child(3)>li {
    line-height: 40px;
    width: 146px;
    text-align: center;
}
/*用户评论展示区*/
div.evaluateShow>div{
    border-bottom: 2px dashed #aaa;
}
div.evaluateShow>div>p{
    margin:8px 0;
}
div.evaluateShow>div>p>span:first-child{
    width:80px;
    text-align: center;
    display: inline-block;
}
div.evaluateShow>ul{
    display: flex;
     justify-content: flex-end;
}
div.evaluateShow>ul>li{
    margin:10px 2px;
    width:30px;
    heith:30px;
    text-align: center;
    line-height: 30px;
    border:1px solid #aaaaaa;
}
div.evaluateShow>ul>li:first-child,div.evaluateShow>ul>li:last-child{
    width:80px;
}